In [2]:
#----------------------------------------------
#This Notebook runs ANOVA test on the types of disasters
#----------------------------------------------
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import os as os
import csv
import scipy.stats as stats

In [4]:
#Read and store the normalized data from the normalizedate notebook
normalized_clean_df = os.path.join('Normalized_Clean_Data.csv')

housing_after_disaster_df = pd.read_csv(normalized_clean_df)
housing_after_disaster_df.head()

,DisasterType,Zip Code,title,disaster number,Declaration Date,County,t+1,t+2,t+3,t+4,t+5,t+6,t+1p,t+2p,t+3p,t+4p,t+5p,t+6p
0,Severe Storm(s),10025,"SEVERE STORMS, FLOODING, HEAVY RAINS, HIGH WINDS",1146,1996-11,New York County,0.006399,0.008671,0.009169,0.007950,0.008451,0.007263,0.000584795,0.00116891,0.003503,0.006399,0.008671,0.009169
1,Fire,10025,FIRES AND EXPLOSIONS,1391,2001-09,New York County,0.000713,0.000000,-0.001662,-0.001902,-0.001906,-0.002387,0.0038305,0.00238493,0.001428,0.000713,0.000000,-0.001662
2,Severe Storm(s),10025,SEVERE STORMS AND FLOODING,1534,2004-08,New York County,0.016218,0.017997,0.017678,0.018682,0.020753,0.022537,0.0060273,0.00881057,0.012402,0.016218,0.017997,0.017678
3,Snow,10025,SNOW,3184,2003-03,New York County,0.019195,0.028137,0.038181,0.044005,0.041743,0.032838,0.00906921,0.00969726,0.012884,0.019195,0.028137,0.038181
4,Hurricane,10025,HURRICANE KATRINA EVACUATION,3262,2005-09,New York County,0.009115,0.009169,0.009222,0.009675,0.009316,0.008307,0.0124002,0.0102773,0.009058,0.009115,0.009169,0.009222

In [5]:
# Extract individual groups which are in the treatment column; values in the mosq column
hurricane2 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Hurricane"]["t+2"]
hurricane3 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Hurricane"]["t+3"]
hurricane4 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Hurricane"]["t+4"]
fire4 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Fire"]["t+4"]
fire5 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Fire"]["t+5"]
fire6 = housing_after_disaster_df[housing_after_disaster_df["DisasterType"] == "Fire"]["t+6"]

In [10]:
stats.f_oneway(hurricane2, hurricane3, hurricane4, fire4, fire5, fire6)

F_onewayResult(statistic=382.6490321750173, pvalue=0.0)