In [8]:
#----------------------------------------------
#This Notebook merges the cleaned data from FEMA and Zillow
#----------------------------------------------

import pandas as pd
import numpy as np
import os as os
import csv
import string

In [9]:
#Read and store the cleaned FEMA Disaster data
Clean_FEMA_csv = os.path.join("..","Cleaned Data","Clean FEMA 1996-Present Disasters Top 6 Types.csv")
Clean_Zillow_csv = os.path.join("..","Cleaned Data","Zillow_Cleaned_data.csv")

FEMA_df = pd.read_csv(Clean_FEMA_csv)
Zillow_df = pd.read_csv(Clean_Zillow_csv)

FEMA_df["CountyName"].str.strip()
Zillow_df["CountyName"].str.strip()
FEMA_df["State"].str.strip()
Zillow_df["State"].str.strip()

0        NY
1        IL
2        NY
3        TX
4        IL
5        TX
6        TX
7        TX
8        NY
9        IL
10       NY
11       CA
12       NY
13       TN
14       TX
15       FL
16       NY
17       NY
18       IL
19       CA
20       TN
21       NY
22       IL
23       NY
24       TX
25       TX
26       NY
27       DC
28       TX
29       NC
         ..
13283    NC
13284    CA
13285    CO
13286    NH
13287    CA
13288    MA
13289    NC
13290    CA
13291    NY
13292    TX
13293    CO
13294    CO
13295    MD
13296    MD
13297    MA
13298    SC
13299    NY
13300    NH
13301    CA
13302    CA
13303    NV
13304    NH
13305    UT
13306    NY
13307    OR
13308    OR
13309    MA
13310    NH
13311    KY
13312    NV
Name: State, Length: 13313, dtype: object

In [10]:
FEMA_df.head()

,Disaster Number,Household Program Declared,Individual Assistance Program Declared,Public Assistance Program Declared,Hazard Mitigation Program Declared,State,Declaration Date,Fiscal Year Declared,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Declared County Area,Place Code,CountyName
0,1081,0,0,1,0,MD,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,Kent (County),99029.0,Kent County
1,1081,0,0,1,0,MD,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,Dorchester (County),99019.0,Dorchester County
2,1081,0,0,1,0,MD,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,St. Mary's (County),99037.0,St. Mary's County
3,1081,0,0,1,0,MD,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,Calvert (County),99009.0,Calvert County
4,1082,0,0,1,0,DE,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,Kent (County),99001.0,Kent County

In [11]:
print("Number of Disasters in Clean FEMA Data: " )
print(len(FEMA_df["Disaster Number"].value_counts()))
print(" ")
print("Counties Included in Each Disaster: ")
print(FEMA_df["Title"].value_counts())

Number of Disasters in Clean FEMA Data:
2289

Counties Included in Each Disaster:
SEVERE STORMS AND FLOODING                                     3260
HURRICANE KATRINA EVACUATION                                   2316
SEVERE WINTER STORM                                            1724
SEVERE STORMS, TORNADOES, AND FLOODING                         1624
SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS, AND FLOODING     919
SEVERE WINTER STORMS                                            779
HURRICANE IRMA                                                  735
WILDFIRES                                                       631
SNOW                                                            602
FLOODING                                                        587
HURRICANE SANDY                                                 559
SEVERE STORMS, FLOODING, AND TORNADOES                          532
SEVERE WINTER STORM AND SNOWSTORM                               511
SEVERE STORMS, TORNADOES AND FLOODING                           489
HURRICANE IRENE                                                 488
HURRICANE FLORENCE                                              385
SEVERE WINTER STORMS AND FLOODING                               378
SEVERE STORMS AND TORNADOES                                     361
SEVERE WINTER ICE STORM                                         361
EXTREME WILDFIRE THREAT                                         331
HURRICANE RITA                                                  319
HURRICANE RITA                                                  318
HURRICANE GUSTAV                                                304
HURRICANE KATRINA                                               303
HURRICANE MATTHEW                                               295
SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSLIDES              280
BLIZZARD OF 96 (SEVERE SNOW STORM)                              263
TROPICAL STORM CHARLEY                                          257
BLIZZARD OF 96                                                  255
HURRICANE MICHAEL                                               255
                                                               ...
SD - MILL ROAD WILDFIRE - 11/19/2003                              1
SAGE FIRE                                                         1
SADDLEBACK FIRE                                                   1
CHEVRON FIRE                                                      1
CA-STEVENS FIRE-08--8-2004                                        1
COLD SPRINGS FIRE                                                 1
INDIAN LAKE ESTATES FIRE                                          1
SOUTH VALLEY FIRE                                                 1
BURR OAK FIRE                                                     1
FISHEL CREEK FIRE COMPLEX                                         1
BUTLER 2 FIRE                                                     1
CO - ARMAGEDDON FIRE - 11/01/01                                   1
SNAG CANYON FIRE                                                  1
PUAKO FIRE                                                        1
LUTHER FIRE                                                       1
GRIFFITH PARK FIRE                                                1
MCDANNALD FIRE                                                    1
FRANKHOMA 81-FIRE                                                 1
WA - UNION VALLEY FIRE - 07/28/01                                 1
BYRD CANYON FIRE                                                  1
WEST MULLAN FIRE                                                  1
GEARY FIRE                                                        1
VEKOL FIRE-05-26-2005                                             1
ROCK FIRE                                                         1
TX - STANLEY MAINLINE FIRE - 09/04/00                             1
COAL SEAM FIRE                                                    1
EILER FIRE                                                        1
SEVERE THUNDERSTORMS                                              1
WA SPRUCE DOME FIRE COMPLEX 2377                                  1
ND - AGAIN FIRE - 06/29/2002                                      1
Name: Title, Length: 1174, dtype: int64

In [12]:
Zillow_df.head()

,RegionName,CountyName,State,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11
0,10025,New York County,NY,0.000000,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,-0.004754,-0.006015,-0.003738,-0.002322,-0.006088,-0.010540,-0.010470,-0.005888,-0.007682,-0.007648
1,60657,Cook County,IL,0.008207,0.006262,0.004356,0.001859,-0.001855,-0.003717,-0.006219,...,0.006873,0.003697,-0.002834,-0.004263,-0.004852,-0.002581,0.001150,0.003733,0.005722,0.007112
2,10023,New York County,NY,0.004886,0.004291,0.003987,0.003404,0.003110,0.003382,0.003933,...,-0.015840,-0.011939,-0.000067,0.004540,-0.009770,-0.017854,-0.016743,-0.018905,-0.015373,-0.007051
3,77494,Harris County,TX,0.008555,0.000000,-0.007069,-0.011391,-0.013442,-0.014599,-0.013333,...,0.011772,0.011635,0.006659,0.005713,0.003886,0.003276,0.003859,0.000591,-0.004433,-0.002671
4,60614,Cook County,IL,0.010390,0.008226,0.004589,0.001015,-0.002028,-0.005081,-0.007150,...,0.005390,0.003263,-0.002091,-0.002095,0.000233,0.004432,0.003019,-0.002315,0.000000,0.005338

In [13]:
#Perform a join where Zillow county/state housing data matches FEMA disaster declared county/state data
ZillowFEMA_df = pd.merge(Zillow_df, FEMA_df, how="inner", on=["CountyName", "State"] )
ZillowFEMA_df.head()

,RegionName,CountyName,State,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,Hazard Mitigation Program Declared,Declaration Date,Fiscal Year Declared,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Declared County Area,Place Code
0,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,New York (County),99061.0
1,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,1996-11,1997,DR,Severe Storm(s),"SEVERE STORMS, FLOODING, HEAVY RAINS, HIGH WINDS",1996-10,1996-10,New York (County),99061.0
2,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,1,2001-09,2001,DR,Fire,FIRES AND EXPLOSIONS,2001-09,2001-09,New York (County),99061.0
3,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,1,2004-08,2004,DR,Severe Storm(s),SEVERE STORMS AND FLOODING,2004-05,2004-06,New York (County),99061.0
4,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,2003-03,2003,EM,Snow,SNOW,2003-02,2003-02-18T23:59:00.000Z,New York (County),99061.0

In [14]:
print("Number of Disasters in Analysis: " )
print(len(ZillowFEMA_df["Disaster Number"].value_counts()))
print(" ")
print("Number of ZipCodes Included in Each Disaster: ")
print(ZillowFEMA_df["Title"].value_counts())

Number of Disasters in Analysis:
1797

Number of ZipCodes Included in Each Disaster:
SEVERE STORMS AND FLOODING                                     16905
HURRICANE KATRINA EVACUATION                                   10664
SNOW                                                            6096
HURRICANE SANDY                                                 5517
SEVERE WINTER STORM AND SNOWSTORM                               5002
SEVERE WINTER STORM                                             4702
SEVERE STORMS, TORNADOES, AND FLOODING                          4210
HURRICANE IRENE                                                 3892
WILDFIRES                                                       3687
HURRICANE IRMA                                                  2537
SEVERE WINTER STORMS AND FLOODING                               1944
SEVERE WINTER STORMS, FLOODING, AND MUDSLIDES                   1933
HURRICANE FLOYD MAJOR DISASTER DECLARATIONS                     1716
BLIZZARD OF 96 (SEVERE SNOW STORM)                              1685
SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS, AND FLOODING     1669
BLIZZARD OF 96                                                  1601
SEVERE WINTER STORMS                                            1518
HURRICANE MATTHEW                                               1499
FIRES AND EXPLOSIONS                                            1497
SEVERE STORMS AND TORNADOES                                     1429
SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSLIDES              1300
SEVERE STORMS, FLOODING, AND TORNADOES                          1234
HURRICANE FLOYD EMERGENCY DECLARATIONS                          1221
HURRICANE FLORENCE                                              1213
TROPICAL STORM FAY                                              1150
FLOODING                                                        1127
SEVERE STORM                                                    1121
SEVERE STORMS, TORNADOES AND FLOODING                           1081
REMNANTS OF TROPICAL STORM LEE                                  1065
SEVERE WINTER STORM, SNOWSTORM, AND FLOODING                     990
                                                               ...
NOLAN COUNTY FIRE COMPLEX                                          1
MCCLELLAN FIRE                                                     1
SOUTH VALLEY FIRE                                                  1
SEVERE STORMS AND TORNADO                                          1
WATER WHEEL FIRE                                                   1
NEOLA NORTH FIRE                                                   1
ROWENA FIRE                                                        1
WAGGONER RANCH FIRE                                                1
QUAIL RIDGE FIRE                                                   1
TX - MOORE BRANCH FIRE - 09/03/00                                  1
ELAN CHURCH ROAD FIRE                                              1
PAWNEE FIRE                                                        1
ROCKY FIRE                                                         1
BADGER MOUNTAIN FIRE COMPLEX                                       1
PITT ROAD FIRE                                                     1
SCOTT ABLE FIRE                                                    1
MCDONALD 2 FIRE                                                    1
VALLEY FIRE AND BUTTE FIRE                                         1
335 FIRE                                                           1
LITTLE LEWIS FIRE                                                  1
BUCKWOOD FIRE                                                      1
BIG TRICKLE RANCH FIRE                                             1
REIMER FIRE                                                        1
OR - SHELDON RIDGE FIRE - 07/25/02                                 1
HARBOR BAY FIRE                                                    1
CLAYTON FIRE                                                       1
TX-CHICKEN FIRE-0823-00                                            1
WHITE HAT FIRE                                                     1
TIMBERON FIRE                                                      1
148/2332 FIRE                                                      1
Name: Title, Length: 879, dtype: int64

In [15]:
#Drop nas from the merged dataset
ZillowFEMA_Clean_df = ZillowFEMA_df.dropna(axis = 0, how="any")
ZillowFEMA_Clean_df.head()

,RegionName,CountyName,State,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,Hazard Mitigation Program Declared,Declaration Date,Fiscal Year Declared,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Declared County Area,Place Code
0,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,1996-01,1996,DR,Snow,BLIZZARD OF 96 (SEVERE SNOW STORM),1996-01,1996-01,New York (County),99061.0
1,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,1996-11,1997,DR,Severe Storm(s),"SEVERE STORMS, FLOODING, HEAVY RAINS, HIGH WINDS",1996-10,1996-10,New York (County),99061.0
2,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,1,2001-09,2001,DR,Fire,FIRES AND EXPLOSIONS,2001-09,2001-09,New York (County),99061.0
3,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,1,2004-08,2004,DR,Severe Storm(s),SEVERE STORMS AND FLOODING,2004-05,2004-06,New York (County),99061.0
4,10025,New York County,NY,0.0,-0.001166,-0.001167,-0.001168,0.000585,0.001169,0.003503,...,0,2003-03,2003,EM,Snow,SNOW,2003-02,2003-02-18T23:59:00.000Z,New York (County),99061.0

In [16]:
ZillowFEMA_Clean_df.to_csv('..\Cleaned Data\Merged_Clean_Data.csv')