In [72]:
#----------------------------------------------
#This Notebook Cleans the data provided by Zillow
#----------------------------------------------

import pandas as pd
import numpy as np
import os as os

zillow_data = "../Data/Zillow_AllHomes.csv"

In [105]:
#Reads the data file for Zillow
zillow_df = pd.read_csv(zillow_data)

#Removes NA data to prevent issues with merging and charting
zillow_df = zillow_df.dropna(axis = 0)

#Removes the undesired coloumns
del zillow_df["RegionID"]
del zillow_df["City"]
del zillow_df["Metro"]
del zillow_df["SizeRank"]

In [106]:
zillow_df_new = zillow_df.set_index(['RegionName','CountyName','State'])
zillow_df_new.head()

,,,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11
RegionName,CountyName,State,,,,,,,,,,,,,,,,,,,,,
10025,New York County,NY,171600.0,171600.0,171400.0,171200.0,171000.0,171100.0,171300.0,171900.0,173000.0,174500.0,...,1130500,1123700,1119500,1116900,1110100,1098400,1086900,1080500,1072200,1064000
60657,Cook County,IL,158400.0,159700.0,160700.0,161400.0,161700.0,161400.0,160800.0,159800.0,158800.0,157800.0,...,351600,352900,351900,350400,348700,347800,348200,349500,351500,354000
10023,New York County,NY,347900.0,349600.0,351100.0,352500.0,353700.0,354800.0,356000.0,357400.0,359300.0,361900.0,...,1516000,1497900,1497800,1504600,1489900,1463300,1438800,1411600,1389900,1380100
77494,Harris County,TX,210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,202500.0,199800.0,198300.0,197300.0,...,326600,330400,332600,334500,335800,336900,338200,338400,336900,336000
60614,Cook County,IL,192500.0,194500.0,196100.0,197000.0,197200.0,196800.0,195800.0,194400.0,193200.0,192300.0,...,429000,430400,429500,428600,428700,430600,431900,430900,430900,433200

In [107]:
zillow_df_test = zillow_df_new.groupby(level=0).diff(axis = 1)
zillow_df_test.head()

,,,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11
RegionName,CountyName,State,,,,,,,,,,,,,,,,,,,,,
10025,New York County,NY,NaN,0.0,-200.0,-200.0,-200.0,100.0,200.0,600.0,1100.0,1500.0,...,-5400.0,-6800.0,-4200.0,-2600.0,-6800.0,-11700.0,-11500.0,-6400.0,-8300.0,-8200.0
60657,Cook County,IL,NaN,1300.0,1000.0,700.0,300.0,-300.0,-600.0,-1000.0,-1000.0,-1000.0,...,2400.0,1300.0,-1000.0,-1500.0,-1700.0,-900.0,400.0,1300.0,2000.0,2500.0
10023,New York County,NY,NaN,1700.0,1500.0,1400.0,1200.0,1100.0,1200.0,1400.0,1900.0,2600.0,...,-24400.0,-18100.0,-100.0,6800.0,-14700.0,-26600.0,-24500.0,-27200.0,-21700.0,-9800.0
77494,Harris County,TX,NaN,1800.0,0.0,-1500.0,-2400.0,-2800.0,-3000.0,-2700.0,-1500.0,-1000.0,...,3800.0,3800.0,2200.0,1900.0,1300.0,1100.0,1300.0,200.0,-1500.0,-900.0
60614,Cook County,IL,NaN,2000.0,1600.0,900.0,200.0,-400.0,-1000.0,-1400.0,-1200.0,-900.0,...,2300.0,1400.0,-900.0,-900.0,100.0,1900.0,1300.0,-1000.0,0.0,2300.0